---
title: 数据构建
subtitle: 配置管理
layout: post
menus:
- setting
- index
categories: []
tags: []
author: likly
date: 2019-03-15 22:19:57 +800
version: 1.0
---
{% raw %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">配置管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">数据构建</li>
    </ol>
</nav>

<div class="col-md-12">
    <form id="TypeValidation" class="form-horizontal" action="" method="">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">数据构建</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--作用域-->
                <div class="row">
                    <label class="col-sm-2 col-form-label">作用域</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <div class="form-check form-check-radio form-check-inline"
                                 :class="scope.enable ? '' : 'disabled'" v-for="scope in scopes">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           v-model="query.scope" :disabled="!scope.enable"
                                           :value="scope.code">{{scope.name}}
                                    <span class="circle"><span class="check"></span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--归属-->
                <div class="row" v-show="query.scope != 1">
                    <label class="col-sm-2 col-form-label">归属</label>
                    <div class="col-sm-3" v-show="query.scope != 1">
                        <div class="form-group">
                            <div class="col-lg-5 col-md-6 col-sm-3">
                                <select class="selectpicker" data-style="btn btn-primary btn-round"
                                        title="Single Select">
                                    <option disabled selected>请选择商家</option>
                                    <option :value="vendor.id" v-for="vendor in vendors">{{vendor.id}}|{{vendor.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" v-show="query.scope == 4">
                        <div class="form-group">
                            <div class="col-lg-5 col-md-6 col-sm-3">
                                <select class="selectpicker" data-style="btn btn-primary btn-round"
                                        title="Single Select">
                                    <option disabled selected>请选择门店</option>
                                    <option :value="store.id" v-for="store in stores">
                                        {{store.id}}|{{store.code}}|{{store.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">配置</label>
                    <div class="col-sm-7">
                        <div class="togglebutton" v-for="rule in dataRules">
                            <label>
                                <input type="checkbox" :checked="rule.enable">
                                <span class="toggle"></span>
                                {{rule.name}}
                            </label>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer text-right">
                <div class="mr-auto"></div>
                <button type="submit" class="btn btn-rose">保存</button>
            </div>
        </div>
    </form>

<script>
    var content = new Vue({
        el: '#content',
        data: {
            scopes: [
                {code: 1, name: '系统', enable: true},
                {code: 2, name: '商家', enable: true},
                {code: 3, name: '门店组', enable: false},
                {code: 4, name: '门店', enable: true}
            ],
            vendors: [
                {id: 1, name: '北京物美'},
                {id: 85, name: '天津物美'},
            ],
            stores: [
                {id: 112, code: '1171', name: '中关村'}
            ],
            keys: [
                {key: 'data-bind', desc: '数据构建'}
            ],
            query: {
                scope: 1
            },
            dataRules: [
                {
                    type: 'ware',
                    name: '商品信息',
                    enable: true,
                    defaultValue: true,
                    locked: true
                },
                {
                    type: 'promotion',
                    name: '促销信息',
                    enable: true,
                    defaultValue: true,
                    locked: false
                },
                {
                    type: 'category',
                    name: '类别信息',
                    enable: true,
                    defaultValue: true,
                    locked: false
                }
            ]

        },
    })
</script>
{% endraw %}
